<div class="py-10 px-20">
  <h3>My Orders</h3>
  <div class="rounded-lg overflow-hidden">
      <!-- Single Cart Item -->

      @for (order of orders; track $index) {
          <h6 class="font-thin">Order Id: {{order._id}}</h6>
          <span class="font-thin">Date:</span><span>{{order.date | date:'mediumDate'}}</span>
          <p>Order Status:
            @if(order.status === 'inprogress'){
              <span class="text-yellow-500 font-semibold">In Progress</span>
            }
            @else if (order.status === 'Dispatched') {
              <span class="text-orange-700 font-semibold">Dispatched</span>
            }
            @else if(order.status === 'Delivered'){
              <span class="text-green-900 font-semibold">Delivered</span>
            }
            @else if(order.status === 'Shipped'){
              <span class="text-lime-700 font-semibold" font-semibold>Shipped</span>
            }
            @else if(order.status === 'Cancelled'){
              <span class="text-red-900 font-semibold">Cancelled</span>
            }
          </p>
      <div class="mb-10 shadow-lg">
        @for (item of order.items; track $index) {
        <div class="flex items-center justify-between p-6 border-b">
          <div class="flex items-center">
            <img
              [src]="item.product?.images?.[0]"
              alt="Product"
              class="w-20 h-20 object-cover rounded"
            />
            <div class="ml-4">
              <h2 class="!text-xl font-semibold">{{ item.product.name }}</h2>
              <div class="flex gap-2 items-baseline">
                <span class="!text-lg text-gray-400"
                  ><s>{{ (item?.product?.price ?? 0) + (item?.product?.discount ?? 0) }}₹</s></span
                >
                <!-- <span class="!text-xs text-orange-300"
                  >{{ item.product.discount }}% OFF</span
                > -->
                <span class="!text-lg text-green-500 font-bold"
                  >{{ sellingPrice(item.product) }}₹</span
                >
              </div>
              <div>Amount : {{ sellingPrice(item.product) * item.quantity }}₹</div>
            </div>
          </div>
          <div class="flex items-center">
            <div class="flex items-center">
              <span class="mr-4">Quantity:</span>
              <span class="mx-2">{{ item.quantity }}</span>
            </div>
          </div>
        </div>
        }
      </div>
      }

      <!-- End Single Cart Item -->

      <!-- Repeat for other items in the cart -->
    </div>

</div>
