<footer class="bg-slate-700 text-white p-5" >
  <div style="max-width: 1200px; margin: 0 auto; text-align: center;" class="flex gap-10 align-center justify-center">
      <div style="margin-bottom: 20px;">
          <h3>Contact Us</h3>
          <p>Email: abc123&#64;gmail.com</p>
          <p>Phone: 9064493131</p>
      </div>
      <div>
          <h3>Follow Us</h3>
          <a href="#" style="color: #fff; text-decoration: none; margin-right: 10px;">Facebook</a>
          <a href="#" style="color: #fff; text-decoration: none; margin-right: 10px;">Twitter</a>
          <a href="#" style="color: #fff; text-decoration: none;">Instagram</a>
      </div>
  </div>
</footer>
