<header class="site-header">
  <div class="top-bar">
    <div class="logo cursor-pointer" routerLink="/">
      <!-- <img src="logo.png" alt="Website Logo"> -->
      <span class="text-xl">E-Mart</span>
    </div>
    <div class="search-bar">
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
        (keyup.enter)="onSearch($event)"
        class="mb-10"
      />
      <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    <div class="profile flex gap-5 items-center text-white">

      @if (authService.isAdmin && authService.isLoggedIn) {
        <a [routerLink]="'/admin'">{{authService.userName}}</a>
      }
      @else if(!authService.isAdmin && authService.isLoggedIn) {
        <a [routerLink]="'/profile'">{{authService.userName}}</a>
      }


      @if (authService.isLoggedIn) {
        <a (click)="logout()" class="cursor-pointer ml-2">Logout</a>
        @if(!authService.isAdmin){
          <a [routerLink]="'/wishlist'" class="cursor-pointer ml-2">Wishlist</a>
        <a [routerLink]="'/cart'" class="text-zinc-300">
          <mat-icon class="text-zinc-300">
            shopping-cart
          </mat-icon>
        </a>
        <a [routerLink]="'/orders'" class="text-zinc-300">
          <p class="text-zinc-300">
            orders
          </p>
        </a>
        }

      }
      @else {
        <a [routerLink]="'/login'" class="cursor-pointer ml-2">Log In</a>
        <a [routerLink]="'/register'" class="cursor-pointer ml-2">Register</a>
      }
    </div>
  </div>

  @if (!authService.isAdmin) {
    <nav class="category-menu">
      <ul class="justify-center align-center">
        @for (category of categoryList; track $index) {
        <li (click)="searchCategory(category._id!)" class="cursor-pointer">
          <a>{{ category.name | titlecase }}</a>
        </li>
        }
      </ul>
    </nav>
  }


</header>
