<div class="px-40 mt-10 flex flex-col">
  @if (isEdit) {
    Edit Brand
  } @else {
    Add new Brand
  }
  <form action="">
    <div class="flex">
      <div class="w-full">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" [(ngModel)]="name" name="name" required>
        </mat-form-field>
      </div>
      <div class="w-full flex justify-center flex-col">
        @if (!isEdit) {
          <button
            class="bg-green-900 text-white rounded-md p-2 w-20 border-none hover:bg-sky-900"
            (click)="addBrand()"
            [disabled]="!name"
          >
            Add
          </button>
        } @else {
          <button
            class="bg-green-900 text-white rounded-md p-2 w-20 border-none hover:bg-sky-900"
            (click)="updateBrand()"
            [disabled]="!name"
          >
            Update
          </button>
        }
      </div>
    </div>
  </form>
</div>
