@if(product){
  <div class="bg-white rounded-lg shadow-lg px-40 overflow-hidden mb-4 mt-4">
    <div class="flex">
      <div class="w-6/12">
        <div class="flex flex-col gap-2">
          <img *ngIf="product && product.images" [src]="product.images[0]" class="w-full h-96 shadow" alt="img"/>
          <!-- <div class="flex justify-around shadow">
            <img
              [src]="product && product.images ? product.images[0] : ''"
              class="w-50 h-50"
            />
          </div> -->
        </div>
      </div>
      <div class="w-6/12 p-4">
        <h2 class="text-3xl font-bold text-gray-800 mb-2">{{ product.name }}</h2>
        <p class="text-gray-700 mb-4">
          {{ product.description }}
        </p>
        <div class="flex justify-between px-20 items-baseline">
          <div class="flex gap-8">
            <span class="!text-xl text-gray-400"
              ><s>{{ (product.price ?? 0) + (product.discount ?? 0) }}₹</s></span
            >
            <!-- <span class="!text-xl text-orange-300"
              >{{ product. }}</span
            > -->
            <span class="!text-xl text-green-500 font-bold "
              >{{ product.price }}₹</span
            >
          </div>
          @if(!authService.isAdmin){
            <div class="flex gap-8">
              <button
                class=" ml-5 p-7 bg-sky-700 hover:bg-green-700 text-white border-none rounded-md"
                (click)="addToWishList(product)"
              >
                @if(isInWishlist(product)){
                <!-- <mat-icon class="text-red-500">favorite</mat-icon> -->
                <span>Remove from Wishlist</span>
                }@else {
                <!-- <mat-icon class="text-red-500">favorite_border</mat-icon> -->
                <p class="items-center">Add To Wishlist</p>
              }
              </button>
              @if(isProductInCart(product._id!)){
              <button
                mat-raised-button
                class="p-7 bg-yellow-500 hover:bg-red-700 hover:text-white text-black border-none rounded-md"
                (click)="addToCart(product)"
              >
                Remove from Cart
              </button>
              }@else {
              <button

                class=" p-7 bg-yellow-500 hover:bg-red-700 hover:text-white text-black border-none rounded-md"
                (click)="addToCart(product)"
              >
                 Add To Cart
              </button>
              }
            </div>
          }
        </div>
      </div>
    </div>

    <div class="border-t border-gray-200 pt-4">
      <h3 class="text-lg font-semibold text-gray-800 mb-2">Product Details</h3>
      <pre>{{ product.description }}</pre>
    </div>

    @if (similarProducts.length>1) {
    <div class="my-4">
      <h4 class="text-2xl font-bold">Similar Products</h4>
      <div class="flex justify-between gap-2">
        @for (product of similarProducts; track $index) {
        <div class="w-3/12 shadow">
          <app-product-card [product]="product"></app-product-card>
        </div>
        }
      </div>
    </div>
    }
    </div>
  }@else {
  <h2>Loading....</h2>
  }
