<div class="px-20">

  <div>
    <owl-carousel-o [options]="customOptions">
      @for (item of bannerImages; track $index) {
        <ng-template carouselSlide>
          <img src="item?.images[0]" alt="">
        </ng-template>
      }
    </owl-carousel-o>
  </div>

  <div class="m-4">
    <h4 class="text-2xl font-bold mt-5 mb-7 ">Featured Products</h4>
    <div class="flex flex-wrap gap-5 justify-between ">

      @for (item of featuredProducts; track $index) {
        <div class="w-3/12 shadow">
          <app-product-card [product]="item"></app-product-card>
        </div>
      }



    </div>
  </div>
  <div class="m-4">
    <div class="px-20 mt-10">
      <h4 class="text-2xl font-bold mt-5 mb-7">New Products</h4>
      <div class="flex flex-wrap gap-5 justify-between" >

        @for (item of newProducts; track $index) {
          <div class="w-3/12 shadow">
           <app-product-card [product]="item"></app-product-card>
          </div>
        }



      </div>
    </div>
  </div>
</div>


